<div class="sidebar-menu">
    <h3>Quick_Teacher2</h3>
    
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <p>Menu Administrador</p>
            <nav>
                <ul>
                    <li><a href="/admin/">Painel de Controle</a></li>
                    <li><a href="{% url 'admin:usuarios_customuser_add' %}">Cadastrar Usuários</a></li>
                </ul>
            </nav>

        {% elif user.tipo_usuario == 'PROFESSOR' %}
            <nav>
                <ul>
                    <li><strong>Base e Configuração</strong>
                        <ul style="list-style: none; padding-left: 10px;">
                            <li><a href="{% url 'listar_instituicoes' %}">Instituições</a></li>
                            <li><a href="{% url 'listar_areas' %}">Áreas de Conhecimento</a></li>
                        </ul>
                    </li>

                    <li><strong>Gestão Acadêmica</strong>
                        <ul style="list-style: none; padding-left: 10px;">
                            <li><a href="{% url 'listar_disciplinas' %}">Disciplinas</a></li>
                            <li><a href="{% url 'listar_turmas' %}">Turmas</a></li>
                        </ul>
                    </li>

                    <li><strong>Novo Cadastro</strong>
                        <ul style="list-style: none; padding-left: 10px;">
                            <li><a href="{% url 'criar_disciplina' %}">+ Disciplina</a></li>
                            <li><a href="{% url 'criar_turma' %}">+ Turma</a></li>
                            <li><a href="{% url 'criar_area' %}">+ Área</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        {% elif user.tipo_usuario == 'ALUNO' %}
            <nav>
                <ul><li><a href="#">Minhas Aulas</a></li></ul>
            </nav>
        {% endif %}

        {% endif %}
</div>