{% extends 'base.html' %}

{% block content %}
    <h2>Estrutura Acadêmica</h2>

    {% for area in areas %}
        <div class="area-container">
            <h3>{{ area.nome }}</h3>
            <ul>
                {% for disciplina in area.disciplinas.all %}
                    <li>{{ disciplina.nome }}</li>
                {% empty %}
                    <li>Nenhuma disciplina nesta área.</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    {% if orfas %}
        <div class="orfas-container">
            <h3>Disciplinas Gerais (Sem Área)</h3>
            <ul>
                {% for disciplina in orfas %}
                    <li>{{ disciplina.nome }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}