{% extends 'base.html' %}
{% block content %}
<div class="header">
    <h1>Minhas Disciplinas</h1>
    <a href="{% url 'criar_disciplina' %}" class="btn-primary">+ Nova Disciplina</a>
</div>

<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Área</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for d in disciplinas %}
        <tr>
            <td>{{ d.codigo }}</td>
            <td><a href="{% url 'detalhes_disciplina' d.pk %}">{{ d.nome }}</a></td>
            <td>{{ d.area.nome|default:"-" }}</td>
            <td>
                <a href="{% url 'editar_disciplina' d.pk %}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}